// Global Variables
$primary-color: #C1BAA1;
$accent-color: #817a67;
$text-color: #333;

.portfolio {
    max-width: 100%;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    // position: sticky;
    // top: 0;
    background-color: #817a67;
    // z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.1);
    // border-bottom: 2px solid #555;

    .logo {
        color: #f5f5f5;
        font-size: 30px;
        display: flex;
        align-items: center;
        gap: 40px;
        padding: 10px 20px;

        img {
            background-color: #b6b3a0;
            width: 80px;
            height: auto;
            border-radius: 80%;
            box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1)
        }
    }

    .nav-links {
        list-style: none;
        display: flex;

        li {
            margin-left: 40px;

            a {
                text-decoration: none;
                color: white;
                font-size: 25px;

                &:hover {
                    color: $accent-color;
                }
            }
        }
    }
}

.home {
    text-align: center;
    padding: 30px 10px;
    color: white;

    .home-content {

        .home-button {
            background-color: white;
            color: $accent-color;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
            margin-right: 10px;
            transition: transform 0.3s ease, background 0.3s ease;

            &:hover {
                transform: scale(1.05);
                background-color: $accent-color;
                color: white;
            }
        }
    }

}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;

    background-color: white;

    h2 {
        font-size: 30px;
        margin-bottom: 25px;
    }


    .about-content {
        display: flex;
        align-items: center;
        gap: 2rem;

        .profile-pic {
            width: 150px;
            // border-radius: 50%;
            // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        p {
            flex: 1;
        }

        .about-button {
            background-color: $accent-color;
            color: white;
            padding: 0.5rem 1rem;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
            cursor: pointer;
            margin-right: 10px;
            transition: transform 0.3s ease, background 0.3s ease;

            &:hover {
                transform: scale(1.05);
                background-color: $primary-color;
                color: white;
            }
        }
    }

    .timeline {
        display: flex;
        flex-direction: column;
        margin-left: 5px;
        margin-right: 5px;
        justify-content: flex-end;

        h3 {
            font-size: 20px;
        }

        .timeline-item {
            margin-bottom: 20px;
            padding: 15px;
            border-left: 4px solid #4f4a39;
            border-radius: 8px;
            background-color: #b6b3a0;

            .timeline-header {
                display: flex;
                align-items: center;
                gap: 20px;
                margin-bottom: 0.5rem;

                .timeline-img {
                    height: 80px;
                }

                .timeline-title {
                    font-size: 1.2rem;
                    font-weight: bold;
                    color: rgb(41, 40, 40);
                }

                .organizer,
                .duration {
                    font-size: 15px;
                    color: #555;
                }
            }

            mat-card-content {
                font-size: 15px;
                color: #555;
            }
        }
    }
}


.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;

    h2 {
        font-size: 30px;
        margin-bottom: 25px;
    }

    .project-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 50px;

        .project-card {
            padding: 15px;
            background: white;
            color: $primary-color;
            border-radius: 10px;
            cursor: pointer;
            transition: transform 0.3s ease, background 0.3s ease;

            h3 {
                text-align: center;
                font-weight: 500;
            }

            p {
                text-align: justify;
            }

            .link {
                text-decoration: underline;
                text-align: center;
            }

            &:hover {
                transform: scale(1.05);
                background: $accent-color;
                color: white;
            }
        }
    }

    .project-button {
        margin-top: 25px;
        margin-bottom: 25px;
        background-color: white;
        color: $accent-color;
        padding: 15px 25px;
        border: none;
        border-radius: 5px;
        font-size: 15px;
        cursor: pointer;
        margin-right: 10px;
        transition: transform 0.3s ease, background 0.3s ease;

        &:hover {
            transform: scale(1.05);
            background-color: $accent-color;
            color: white;
        }
    }
}


.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
    background-color: white;

    h2 {
        font-size: 30px;
        margin-bottom: 25px;
    }

    .skills-list-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        gap: 1.5rem;
        width: 100%;
        max-width: 1200px;
        justify-content: center;

        .skill-item {
            background: $primary-color;
            color: white;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 5px;
            font-size: 1rem;
            text-align: center;
            font-weight: bold;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease, background 0.3s ease;

            &:hover {
                transform: scale(1.05);
                background: $accent-color;
            }
        }
    }
}


.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
    background: $primary-color;
    color: white;

    h2 {
        font-size: 30px;
        margin-bottom: 25px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        input,
        textarea {
            max-width: 200%;
            width: 200px;
            padding: 10px;
            border: none;
            border-radius: 5px;
        }

        button {
            margin-top: 10px;
            margin-bottom: 25px;
            background-color: white;
            color: $accent-color;
            padding: 5px 15px;
            border: none;
            border-radius: 5px;
            font-size: 15px;
            cursor: pointer;

            transition: transform 0.3s ease, background 0.3s ease;

            &:hover {
                transform: scale(1.05);
                background-color: $accent-color;
                color: white;
            }
        }
    }
}

// Footer
.footer {
    text-align: center;
    padding-bottom: 30px;
    background: $primary-color;
    color: white;
}